.lorainfo-body {
  width: 90vw;
  max-width: 960px;
  display: var(--pap-cm-aboutBody-display);
  position: var(--pap-cm-aboutBody-position);
  box-shadow: var(--pap-cm-aboutBody-box-shadow);
  border-radius: var(--pap-cm-aboutBody-border-radius);
  background-color: var(--pap-cm-aboutBody-background-color);
  transition: var(--pap-cm-aboutBody-transition);
  padding: var(--pap-cm-aboutBody-padding);
  font-size: var(--pap-cm-aboutBody-font-size);
  color: var(--pap-cm-aboutBody-color);
  max-height: var(--commonPopup-max-height);
  overflow: var(--commonPopup-overflow);
  overflow-y: var(--commonPopup-overflow-y)
}

.lorainfo-body .rgthree-info-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.lorainfo-body .rgthree-info-area>li {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.lorainfo-body .rgthree-info-area>li+li {
  margin-left: 6px;
}

.lorainfo-body .rgthree-info-area>li:not(.-link)+li.-link {
  margin-left: auto;
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-tag>* {
  min-height: 24px;
  border-radius: 4px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  background: rgb(69, 92, 85);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  height: 1.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.5);
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-tag>*>svg {
  width: 16px;
  height: 16px;
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-tag>*>svg:last-child {
  margin-left: 0.5em;
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-tag>*[href] {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.66);
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-tag>*:empty {
  display: none;
}

.lorainfo-body .rgthree-info-area>li.-type>* {
  background: rgb(73, 54, 94);
  color: rgb(228, 209, 248);
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-menu {
  margin-left: auto;
}

:not(#fakeid) .lorainfo-body .rgthree-info-area>li.rgthree-info-menu .rgthree-button {
  margin: 0;
  min-height: 24px;
  padding: 0 12px;
}

.lorainfo-body .rgthree-info-area>li.rgthree-info-menu svg {
  width: 16px;
  height: 16px;
}

.lorainfo-body .rgthree-info-table {
  border-collapse: collapse;
  margin: 16px 0px;
  width: 100%;
  font-size: 12px;
}

.lorainfo-body .rgthree-info-table tr.editable button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}

.lorainfo-body .rgthree-info-table tr.editable button svg+svg {
  display: none;
}

.lorainfo-body .rgthree-info-table tr.editable.-rgthree-editing button svg {
  display: none;
}

.lorainfo-body .rgthree-info-table tr.editable.-rgthree-editing button svg+svg {
  display: inline-block;
}

.lorainfo-body .rgthree-info-table td {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0;
  vertical-align: top;
}

.lorainfo-body .rgthree-info-table td:first-child {
  background: rgba(255, 255, 255, 0.075);
  width: 10px;
}

.lorainfo-body .rgthree-info-table td:first-child>*:first-child {
  white-space: nowrap;
  padding-right: 32px;
}

.lorainfo-body .rgthree-info-table td:first-child small {
  display: block;
  margin-top: 2px;
  opacity: 0.75;
}

.lorainfo-body .rgthree-info-table td:first-child small>[data-action] {
  text-decoration: underline;
  cursor: pointer;
}

.lorainfo-body .rgthree-info-table td:first-child small>[data-action]:hover {
  text-decoration: none;
}

.lorainfo-body .rgthree-info-table td a,
.lorainfo-body .rgthree-info-table td a:hover,
.lorainfo-body .rgthree-info-table td a:visited {
  color: inherit;
}

.lorainfo-body .rgthree-info-table td svg {
  width: 1.3333em;
  height: 1.3333em;
  vertical-align: -0.285em;
}

.lorainfo-body .rgthree-info-table td svg.logo-civitai {
  margin-right: 0.3333em;
}

.lorainfo-body .rgthree-info-table td>*:first-child {
  display: block;
  padding: 6px 10px;
}

.lorainfo-body .rgthree-info-table td>input,
.lorainfo-body .rgthree-info-table td>textarea {
  padding: 5px 10px;
  border: 0;
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  font: inherit;
  appearance: none;
  background: #fff;
  color: #121212;
  resize: vertical;
}

.lorainfo-body .rgthree-info-table td>input:only-child,
.lorainfo-body .rgthree-info-table td>textarea:only-child {
  width: 100%;
}

:not(#fakeid) .lorainfo-body .rgthree-info-table td .rgthree-button[data-action=fetch-civitai] {
  font-size: inherit;
  padding: 6px 16px;
  margin: 2px;
}

.lorainfo-body .rgthree-info-table tr[data-field-name=userNote] td>span:first-child {
  white-space: pre;
}

.lorainfo-body .rgthree-info-table tr.rgthree-info-table-break-row td {
  border: 0;
  background: transparent;
  padding: 12px 4px 4px;
  font-size: 1.2em;
}

.lorainfo-body .rgthree-info-table tr.rgthree-info-table-break-row td>small {
  font-style: italic;
  opacity: 0.66;
}

.lorainfo-body .rgthree-info-table tr.rgthree-info-table-break-row td:empty {
  padding: 4px;
}

.lorainfo-body .rgthree-info-table td .-help {
  border: 1px solid currentColor;
  position: absolute;
  right: 5px;
  top: 6px;
  line-height: 1;
  font-size: 11px;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: help;
}

.lorainfo-body .rgthree-info-table td .-help::before {
  content: "?";
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list {
  list-style: none;
  padding: 2px 8px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 15vh;
  overflow: auto;
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li {
  display: inline-flex;
  margin: 2px;
  vertical-align: top;
  border-radius: 4px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  background: rgb(73, 91, 106);
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  height: 1.6em;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  white-space: nowrap;
  max-width: 183px;
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li:hover {
  background: rgb(68, 109, 142);
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li>svg {
  width: auto;
  height: 1.2em;
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li>span {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li>small {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  background: rgba(0, 0, 0, 0.2);
}

.lorainfo-body .rgthree-info-table td>ul.rgthree-info-trained-words-list>li.-rgthree-is-selected {
  background: rgb(42, 126, 193);
}

.lorainfo-body .rgthree-info-images {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.lorainfo-body .rgthree-info-images>li {
  scroll-snap-align: start;
  max-width: 90%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 6px;
  font-size: 0;
  position: relative;
}

.lorainfo-body .rgthree-info-images>li figure {
  margin: 0;
  position: static;
}

.lorainfo-body .rgthree-info-images>li figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 12px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.25s ease-in-out;
}

.lorainfo-body .rgthree-info-images>li figure figcaption>span {
  display: inline-block;
  padding: 2px 4px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  word-break: break-word;
}

.lorainfo-body .rgthree-info-images>li figure figcaption>span label {
  display: inline;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.lorainfo-body .rgthree-info-images>li figure figcaption>span a {
  color: inherit;
  text-decoration: underline;
}

.lorainfo-body .rgthree-info-images>li figure figcaption>span a:hover {
  text-decoration: none;
}

.lorainfo-body .rgthree-info-images>li figure figcaption>span a svg {
  height: 10px;
  margin-left: 4px;
  fill: currentColor;
}

.lorainfo-body .rgthree-info-images>li figure figcaption:empty {
  text-align: center;
}

.lorainfo-body .rgthree-info-images>li figure figcaption:empty::before {
  content: "No data.";
}

.lorainfo-body .rgthree-info-images>li:hover figure figcaption {
  opacity: 1;
  transform: translateY(0px);
}

.lorainfo-body .rgthree-info-images>li .rgthree-info-table {
  width: calc(100% - 16px);
}

.lorainfo-body .rgthree-info-civitai-link {
  margin: 8px;
  color: #eee;
}

.lorainfo-body .rgthree-info-civitai-link a,
.lorainfo-body .rgthree-info-civitai-link a:hover,
.lorainfo-body .rgthree-info-civitai-link a:visited {
  color: inherit;
  text-decoration: none;
}

.lorainfo-body .rgthree-info-civitai-link>svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

:not(#fakeid) .rgthree-button-reset {
  position: relative;
  appearance: none;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

:not(#fakeid) .rgthree-button {
  --padding-top: 7px;
  --padding-bottom: 9px;
  --padding-x: 16px;
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  margin: 0.25rem;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  background: #939191;
  transition: all 0.1s ease-in-out;
  padding: var(--padding-top) var(--padding-x) var(--padding-bottom);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

:not(#fakeid) .rgthree-button::before,
:not(#fakeid) .rgthree-button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.12), inset -1px -1px 0px rgba(0, 0, 0, 0.75);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.15));
  mix-blend-mode: screen;
}

:not(#fakeid) .rgthree-button::after {
  mix-blend-mode: multiply;
}

:not(#fakeid) .rgthree-button:hover {
  background: #303030;
}

:not(#fakeid) .rgthree-button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background: #121212;
  padding: calc(var(--padding-top) + 1px) calc(var(--padding-x) - 1px) calc(var(--padding-bottom) - 1px) calc(var(--padding-x) + 1px);
}

:not(#fakeid) .rgthree-button:active::before,
:not(#fakeid) .rgthree-button:active::after {
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15), inset 1px 1px 0px rgba(0, 0, 0, 0.5), inset 1px 3px 5px rgba(0, 0, 0, 0.33);
}

:not(#fakeid) .rgthree-button.-blue {
  background: #346599 !important;
}

:not(#fakeid) .rgthree-button.-blue:hover {
  background: #3b77b8 !important;
}

:not(#fakeid) .rgthree-button.-blue:active {
  background: #1d5086 !important;
}

:not(#fakeid) .rgthree-button.-green {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.15)), #14580b;
}

:not(#fakeid) .rgthree-button.-green:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.15)), #1a6d0f;
}

:not(#fakeid) .rgthree-button.-green:active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.06)), #0f3f09;
}

:not(#fakeid) .rgthree-button[disabled] {
  box-shadow: none;
  background: #666 !important;
  color: #aaa;
  pointer-events: none;
}

:not(#fakeid) .rgthree-button[disabled]::before,
:not(#fakeid) .rgthree-button[disabled]::after {
  display: none;
}