.weilin-autocom-autocomplete {
	color: var(--pp-ph-phe-ec-extendBtnGroup-color);
	background-color: var(--pp-ph-phe-ec-selectSelectBtn-background);
	position: absolute;
	font-family: sans-serif;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	overflow: auto;
	z-index: calc(100 * 100 * 100 * 91);
}

.weilin-autocom-autocomplete-item {
	cursor: pointer;
	padding: 3px 7px;
	display: flex;
	border-left: 3px solid transparent;
	align-items: center;
}

.weilin-autocom-autocomplete-item--selected {
	border-left-color: dodgerblue;
}

.weilin-autocom-autocomplete-highlight {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: dodgerblue;
}

.weilin-autocom-autocomplete-pill {
	margin-left: auto;
	font-size: 10px;
	color: #fff;
	padding: 2px 4px 2px 14px;
	position: relative;
}

.weilin-autocom-autocomplete-pill::after {
	content: "";
	display: block;
	background: rgba(255, 255, 255, 0.25);
	width: calc(100% - 10px);
	height: 100%;
	position: absolute;
	left: 10px;
	top: 0;
	border-radius: 5px;
}

.weilin-autocom-autocomplete-pill+.weilin-autocom-autocomplete-pill {
	margin-left: 0;
}

.weilin-autocom-autocomplete-item-info {
	margin-left: auto;
	transition: filter 0.2s;
	will-change: filter;
	text-decoration: none;
	padding-left: 10px;
}

.weilin-autocom-autocomplete-item-info:hover {
	filter: invert(1);
}